
.users-list {
    overflow-y: auto;
    max-height: 500px;
    max-width: 250px;
}
li.users-list-item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
li.users-list-item:hover {
    color: darkblue;
    background-color:wheat;
    cursor: default;
}

input.datetime {
    width: 185px;
}

.left-panel-content {
    display: table-cell;
    width: 250px;
    padding: 7px 0px;
    border: groove 2px rgb(248, 248, 248);
}

.right-panel-content {
    display: table-cell;
    width: fit-content();
    padding: 7px;
    /*border: groove 2px rgb(248, 248, 248);
    border-radius: 0px 5px 5px 0px;*/
}

.full-width-button {
    width: 100%;
}
.half-width-button {
    width: 49%;
}