@model Home.Web.Areas.App.Models.Vk.VkVM 

<dl>
    <dt>Поиск</dt>
    <dd>
        <input id="usersFilter" type="text" onkeyup="LoadUsers(this.value);" />
    </dd>
    <dt>@Html.DisplayNameFor(m => m.FromDate)</dt>
    <dd>@Html.EditorFor(m => m.FromDate, new { htmlAttributes = new { @class = "datetime", onchange = "OnTimeIntervalChanged();" } })</dd>
    <dt>@Html.DisplayNameFor(m => m.ToDate)</dt>
    <dd>@Html.EditorFor(m => m.ToDate, new { htmlAttributes = new { @class = "datetime", onchange = "OnTimeIntervalChanged();" } })</dd>
    <dt>Смещение по дням</dt>
    <dd>
        <div>
            <input class="half-width-button" type="Button" value="<" title="На день раньше" onclick="ShiftDates(-1);" />
            <input class="half-width-button" type="Button" value=">" title="На день позже" onclick="ShiftDates(1);" />
        </div>
    </dd>
    <dt></dt>
    <dd>
        <input class="full-width-button" type="Button" value="Cорт. по активн." title="Сортировать по активности" onclick="LoadUsersWithActivity();" />
    </dd>
    <dt></dt>
    <dd>
        <input class="full-width-button" type="Button" value="За период" onclick="GetPeriodUserActivity();" />
    </dd>
    <dt></dt>
    <dd>
        <input class="full-width-button" type="Button" value="За всё время" onclick="GetDetailedUserActivity();" />
    </dd>
</dl>
