@model IEnumerable<Home.Web.Areas.App.Models.Vk.UserVM>

<div class="users-list">
    <ol>
        @foreach (var user in Model.OrderByDescending(u => u.ActivitySec))
        {
            string listValue = user.ActivitySec != -1
                ? $"[{TimeSpan.FromSeconds(user.ActivitySec).TotalHours.ToString("0.#")} ч.] {user.UserName}"
                : user.UserName;

            <li class="users-list-item" onclick="SelectUser(@user.Id);">@listValue</li>
        }
    </ol>
</div>
